body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

ul {
  list-style-type: none;
}

/*header*/
.header-section {
  box-sizing: inherit;
}

.logo {
  width: 115px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.web {
  color: #4d5ae5;
}

.studio {
  color: #2e2f42;
}

.nav .site .link {
  font-weight: 500;
  color: #2e2f42;
  text-decoration: none;
}

.nav .site .link:hover,
.nav .site .link:focus {
  color: #404bbf;
}

address a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
}

.mail:hover,
.mail:focus {
  color: #404bbf;
}

.tel:hover,
.tel:focus {
  color: #404bbf;
}

/*Hero Section*/
.main-section {
  width: 1440px;
  height: 600px;
  background: #2e2f42;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-header {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07143;
  text-align: center;
  color: #fff;
  text-align: center;
}

.service {
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
}

.btn {
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  white-space: nowrap;
  cursor: pointer;
  border: 0;
}

.btn:hover {
  background: #404bbf;
}

/* Features Section */
.features {
  display: none;
}

.features-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* Team Section */
.team-section {
  background: #f4f4fd;
}

.team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

.person {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}

.position {
  text-align: center;
}

/* Portfolio Section */
.portfolio-section {
  box-sizing: inherit;
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11111;
  text-align: center;
  color: #2e2f42;
}

.proposal {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
}

/* Bottom Section */
.bottom-section {
  width: 1440px;
  height: 312px;
  background: #2e2f42;
}

.botom-logo {
  width: 115px;
  height: 24px;
  display: inline-flex;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
}

.bottom-web {
  color: #4d5ae5;
}

.bottom-studio {
  color: #f4f4fd;
}

.bottom-description {
  color: #f4f4fd;
}
